.app {
  padding: 30px;
}

.title {
  text-align: center;
}

.main-main {
  display: flex;
}

.render-products {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  margin: 10px auto;
  text-align: center;
  width: 900px;
}

.card-item, .home-div-card-center {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin-bottom: 10px;
  width: 275px;
}

.button-add-cart {
  width: 275px;
}

.header {
  align-items: baseline;
  display: flex;
  justify-content: space-evenly;
}

.header img {
  height: 30px;
  padding: 5px;
  width: 30px;
}
